*
	box-sizing: border-box

body
	font: 14px "PTSans",sans-serif

.flex
	display: flex
	flex-wrap: wrap
	& > *
		flex: 1

#root
	width: 1170px
	margin: auto
	padding: 0 30px


input
	display: block
	padding: 5px 7px
	width: 100%
	margin: 20px 0

.inputs
	color: #222222
	padding: 20px 15px

.document,.inputs
	flex: 1

.labeled-input
	display: inline-block
	width: 50%
	padding: 0 15px
	margin-bottom: 20px
	span
		display: block
		text-align: center
		margin-bottom: 5px

.input_wrong
	background-color: rgba(255,0,0,0.1)
	border-color: red

.document
	line-height: 22px
	box-shadow: 0 0 10px
	padding: 40px 30px

.document-header
	width: 300px
	float: right

.document-title
	clear: both
	margin: 100px 0 20px
	text-align: center

.document--sign
	display: block
	width: 200px
	margin-bottom: 50px
	border-bottom: 1px solid black
	&:after
		content: "(Личная подпись)"
		display: block
		position: relative
		top: 25px
		text-align: center

.document--generated
	display: inline-block
	text-align: center
	& + .document--generated
		margin-left: 5px

.btn
	display: block
	width: 100%
	border: none
	font-size: 11px
	padding: 10px 20px
	cursor: pointer
	font-weight: bold
	text-transform: uppercase
	color: white
	background-color: #3ea7d0

.remove-ic
	display: inline-block
	cursor: pointer
	width: 15px
	height: 15px
	margin: 0 5px
	background: url("../img/remove.svg") 50% 50% no-repeat
	transition: all .3s
	&:hover
		opacity: 0.7

