body
	font: 14px "PTSans",sans-serif

.root
	display: flex
	flex-wrap: wrap

.btn
	display: block
	margin: auto
	border: none
	font-size: 11px
	padding: 10px 20px
	cursor: pointer
	font-weight: bold
	text-transform: uppercase
	color: white
	background-color: #3ea7d0

