*
	box-sizing: border-box

body
	font: 14px "PTSans",sans-serif

.app
	display: flex
	flex-wrap: wrap
	& > *
		flex: 1

#root
	width: 1170px
	margin: auto
	padding: 0 30px


input
	display: block
	padding: 5px 7px
	width: 100%
	margin: 20px 0

.input_wrong
	background-color: rgba(255,0,0,0.1)
	border-color: red

.btn
	display: block
	width: 100%
	border: none
	font-size: 11px
	padding: 10px 20px
	cursor: pointer
	font-weight: bold
	text-transform: uppercase
	color: white
	background-color: #3ea7d0

.remove-ic,.change-ic
	display: inline-block
	cursor: pointer
	width: 15px
	height: 15px
	margin: 0 5px
	background-image: url("../img/remove.svg")
	background-size: cover
	transition: all .3s
	&:hover
		opacity: 0.7

.change-ic
	background-image: url("../img/change.svg")
